.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.user-avatar-box {
  display: flex;
  align-items: center;
  background-color: #e9ecef; /* Example background color */
  padding: 8px;
  border-radius: 50px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  background-color: #adb5bd; /* Example background color */
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-size: 16px;
  font-weight: bold;
}
.product-card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card .card-body {
  background-color: #fff;
}

.product-card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.product-card .card-text {
  color: #555;
}

.product-card .btn-success {
  margin-top: auto;
  width: 100%;
}

.product-card .btn-success:hover {
  background-color: #28a745;
  border-color: #28a745;
}
.loading-container {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
 /* Optional: Add a semi-transparent background */
  z-index: 9999; /* Optional: Set a higher z-index to ensure the spinner appears on top of other content */
}
